*{
  margin: 0;
  padding: 0;
}

/*hide the audio controls*/
audio {
  display: none;
}

/*h1{
  position: absolute;
  left: 0px;
  top: 250px;
  margin: 0 auto;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  text-align: center;
}*/
.wrapper {
  font-size: 0;
  background: #000;
}

.tiles {
  position: relative;
  display: inline-block;
  width: calc(100%/14);
  height: 400px;
  border: 2px solid black;
  background-color: black;
  box-sizing: border-box;
}

.betweenTiles {
  background-color: black;
}

@keyframes tilesAnimation {
  0% {left: 0%}
  20% {left: 20%;}
  40% {left: 40%}
  60% {left: 60%;}
  80% {left: 80%;}
  100% {left: 100%;}
}

#scoreboard, #gameInfo {
  width: 100%;
  height: 50px;
  padding: 5px;
  background-color: rgb(200,200,200);
  border: 2px solid black;
  margin-bottom: 1rem;
  text-align: center;
  font-family: 'Mirza', cursive;
  font-size: 30px;
}

#hits, #missesLeft, #level {
  float: left;
  margin: 0 auto;
  width: calc(100%/3);
}

#gameInfo {
  margin-top: 1rem;
  position: absolute;
  text-align: center;
}

#enterToStart {
  background-color: lightgrey;
  padding: 0.2rem;
  padding-right: 0.4rem;
  padding-left: 0.4rem;
  border: 0.2rem solid black;
}
